.mypic
{
border-radius: 50%;
min-height: 30%;
width: 30%;
margin-top: 20px;
}
.name
{
font-size: 50px;
}
.title 
{
font-size: 20px;
}
.icon 
{
height: 10%%;
width: 10%;
margin-top: 5px;
}
.pointer 
{
cursor: pointer;
}
section
{
    margin-right: 5%;
    margin-left: 5%;
}